<h3>Cadastrar Tipo de Despesa</h3>

<%= form_for(@expense_type) do |f| %>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>
  <%= f.submit 'Cadastrar' %>
<% end %>
