<h1>Bem-vindo ao Controle de Despesas</h1>

<h3>Relatórios de Despesas</h3>
<div>
  <%= link_to 'Cadastrar um relatório de despesas', new_expense_report_path %> <br/>
  <%= link_to 'Cadastrar Tipo de Despesa', new_expense_type_path %> <br/>
  <%= link_to 'Cadastrar Subtipo de Despesa', new_expense_subtype_path %>
</div>
<% @expense_reports.each do |report| %>
  <br />
  <%= link_to report.title, expense_report_path(report) %>
<% end %>
